<h1>出品物一覧</h1>

    <%= link_to '新規登録', '/items/new' %>

<ul>
  <% @item.each do |item| %>
    <li>
      <%= link_to item.name,  item_path(item) %>
      <%= link_to '削除', item_path(item), method: :delete %>
    </li>
  <% end -%>
</ul>
